
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');"> 
    <div class="container">
        <h1><%= @list.name %></h1>
        <p><%= @list.comment %></p>
        <%= link_to 'Add Movie', anchor: "add-movie" %>
    </div>
</div>


<div class="container">
    <% @movies.each do |movie| %>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="<%= movie.title %>">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <%= link_to 'Delete', bookmark_path(movie), method: :delete %>
            </div>
        </div>
    <% end %>


   <div class="container mt-4" id="add-movie">
     <h3>Add a movie to your <%= @list.name %> list</h3>
    <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, prompt: 'Select a movie', input_html: { class: 'select2' } %>
        <%= f.button :submit %>
    <% end %>
   </div>
</div>